<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
</head>

<body>
    <h1>Welcome to
        <%= labname %>
    </h1>
    <form action="/" >
        <input type="submit" value="log out">
        
    </form>
    <h3>Quick Shortcuts:</h3>

     <form action="/entry">
        <input type="submit" value="New Entry">
     </form>
    <button>View Entries</button>
    <button>Reports</button>
    <button>Ref. Doctors</button>
    <button>Cashbook</button>
    <button>Add Test</button>
    <button>View Test</button>
    <button>Add Patient</button>
    <button id="bt">View Patient</button>
  
   
    <a href="#">License Details</a>


 
    

</body>

</html>